body {
  background: #1e1e1e;
  color: #81c784;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

#countdown {
  font-size: 3.5em;
  margin-bottom: 20px;
}

.progress-container {
  width: 80%;
  height: 20px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
}

#progressBar {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #81c784, #4caf50);
  transition: width 1s linear;
  border-radius: 10px;
}

/*  DRAGZONE  */
.drag-zone {
  -webkit-app-region: drag;
  height: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#clock {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

/* Dark theme support */
.dark #clock {
  color: #fff;
}